<template>
  <div class="home" :style="colorContador">
    <h1>{{titulo}}: {{contador}}</h1>
  </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
  components: {
  
  },data() {
    return {
      titulo:'Mi contador vuex'
    }
  },
  computed: {
    ...mapState(['contador']),
    colorContador(){
      return [this.contador>100?{'color':'green'}:{'color':'red'}]
    }
  },
}
</script>
