<template>
  <div class="about">
    <Titulo texto="About de la pagina"/>
  </div>
</template>

<script>
import Titulo from '../components/Titulo'
export default {
  components:{
    Titulo
  }
}
</script>
