<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <h1>{{mayusculasTexto}}</h1>
        <h2 class="bg-dark"
            :class="colorCantidad">
            Saldo disponible: {{cantidad}}
        </h2>
        <a v-bind:href="enlace">ir al enlace</a><br>
        <a :href="enlace">ir al enlace</a><hr>
        <h2 v-if="estado">Cuenta activa</h2>
        <h2 v-else>Cuenta desactiva</h2>

        <hr>
        <h2 v-if="cantidad > 500" style="color: green;">Cantidad: {{cantidad}}</h2>
        <h2 v-else-if="cantidad <= 500 && cantidad > 0">
            Cantidad:
            <span style="color:red;">{{cantidad}}</span>
        </h2>
        <h2 v-else>Sin cantidad</h2>
        <hr>
        <h2>Servicios disponibles</h2>
            <ul>
                <li v-for="(index,item) in servicios" ::key="index">{{index}} {{item}}</li>
            </ul>
        <hr>
        <button v-on:click="agregarSaldo">Agregar Saldo</button>
        <button @click="agregarSaldo">Agregar Saldo</button>
        <hr>
        <button @click="disminuirSaldo(500)" :disabled="desactivar">Disminuir Saldo</button>
        <br>
        <footer-banco :valor="cantidad"/>
    </div>

    <script src="main.js"></script>
    <script src="components/Footer.js"></script>
    <script>
        const mountedApp=app.mount('#app');
    </script>
</body>
</html>